name: Deploy static site to Azure Web App - cours-economie-elearning

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_62DDB62486A140DEA0A7AE397E78C64A }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_D24AD2BF07E44ED4AB95859B3E24974E }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_728D7800F8C044F4A65086CB6695F6A5 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'cours-economie-elearning'
          slot-name: 'Production'
          package: .
